<style>
    .animation2{
        animation-name: slideup;
        animation-duration: 1.5s;
        
    }
    @keyframes slideup{
        from{
            margin-top: 100%;
        }
        to{
            margin-top: 0%;
        }
    }
    #aboutcenter {
    align-items: center;
    display: flex;
    justify-content: center;
    }
    .aboutme{
        background-image: url(assets/ab1.jpeg);margin-top: 0%;padding-top: 0%;border: 1px solid black;
    }
</style>

<div class="container-fluid aboutme">
    <div id="aboutmid1" class="row animation2">
        <div class="col-md-1">
        </div>
        <div class="col">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-12">
                        <div class="row">
                            <div class="col" style="padding-top: 10%;">
                                <span class="title1">Created By</span>
                                <br><span class="title5" style="font-size: larger;"><strong>Dibyasree Banerjee</strong>
                                </span>
                                <br>
                            </div>
                        </div>
                        <div class="mt-3 row">
                            <span class="abouttext">I am from Kolkata. I have total 2.5+ years of experience.</span>
                        </div>
                        <div class="mt-3 row">
                            <div class="col">
                                <span class="checkstext1">I have worked in Java backend. I have experience in Spring-boot, Hibernate/JPA, SQl Database.<br> I really enjoyed building this Angular Website.<br><br> <strong>Hobbies</strong> - <ul><li>Playing Lawn Tennis</li><li>Painting</li></ul></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <br>
                            </div>
                        </div> 
                    </div>
                    <div class="col-md-1">
    
                    </div>
                    <div id="aboutcenter" class="mt-3 col-md-6 col-12">
                        <img src="assets/me2.jpeg" id="aboutimage" alt="" height="350px" width="230px">
                    </div>
                </div> 
            </div>
        </div>
    </div>
    
    <div id="aboutmid1" class="row">
        <div class="col-md-1">
        </div>
        <div class="col">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-12">
                        <div class="row">
                            <div class="col">
                                <h4><strong><u>Experience :</u></strong></h4>
                            </div>
                        </div>
                        <div class="mt-3 row">
                            <span class="abouttext">During the training I developed a website in Angular, called <strong>WaffleMania!!</strong><br>It is a single page application.</span>
                        </div>
                        <div class="mt-3 row">
                            <div class="col">
                                <span class="checkstext1">
                                    Really enjoyed a lot while developing this as I have knack for creative website designing from my college days. Learnt many new things while developing this website, also faced challenges as it is in Angular and a bit advanced than normal HTML,CSS. 
                                    <br>
                                    I am really happy to explore a new technology with a proper hands-on under a excellent guidance. Thanks Charan!<br><strong> Hope You Like It!!</strong>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <br>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1">
                    </div>
                    <div id="aboutcenter" class="mt-3 col-md-6 col-12">
                        <img src="assets/web.png" id="aboutimage" alt="" height="170px" width="300px">
                    </div>
                </div>
                <div id="abouthr" class="row">
                    <div class="col">
                        <br>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
