<div class="container-fluid">
    <h2 style="color: white;padding-bottom: 1%;padding-top: 1%;margin-bottom: 3%; background-color: black; width: 400px; text-align: center; border-bottom: 3px solid coral;margin-left: 33.33%; margin-top: 5%;">** Classic Waffles **<br>Buy Now!</h2>
    <div class="row" style="padding-left: 7%;margin-bottom: 4%;">
        <div class="col-md-4 myeachoutcard hovcard1">
            <div class="card" style="width: 18rem;" >
                <img src="assets/best6.jpeg" class="card-img-top" alt="..." height="280px">
                <div class="card-body">
                    <p class="card-text hovcard" style="text-align: center;font-size: larger;">Coffee Milkshake</p>
                    <p class="card-text hide" style="text-align: center; color: coral;"><b>Rs. 250</b></p>
                    <button class="btn btn-outline-secondary" style="margin-left: 27%; color: coral;">+ add to cart</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 myeachoutcard hovcard2">
            <div class="card" style="width: 18rem;">
                <img src="assets/milk1.jpeg" class="card-img-top" alt="..." height="280px">
                <div class="card-body">
                    <p class="card-text" style="text-align: center;font-size: larger;">Strawberry Milkshake</p>
                    <p class="card-text hide" style="text-align: center; color: coral;"><b>Rs. 200</b></p>
                    <button class="btn btn-outline-secondary" style="margin-left: 27%; color: coral;">+ add to cart</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 myeachoutcard hovcard3">
            <div class="card" style="width: 18rem;" >
                <img src="assets/milk.webp" class="card-img-top" alt="..." height="280px">
                <div class="card-body">
                    <p class="card-text" style="text-align: center;font-size: larger;">Chocolate Milkshake</p>
                    <p class="card-text hide" style="text-align: center; color: coral;"><b>Rs. 270</b></p>
                    <button class="btn btn-outline-secondary" style="margin-left: 27%; color: coral;">+ add to cart</button>
                </div>
            </div>
        </div>
    </div>
</div>