<style>
  .mynav{
    height: 70px;
    font-size: large;
    font-weight: 500;
  }
  .mynavlogo{
    width: 150px; 
    height: 60px;
    border: 2px solid coral; 
    border-radius: 10px;
  }
  .mynavtext{
    color: steelblue;
  }
  #footer{
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    color: white;
    font-weight: bolder;
    font-size: larger;
    padding-top: 5%;
    background:
        /* top, transparent black, faked with gradient */ 
        linear-gradient(
          rgba(0, 0, 0, 0.4), 
          rgba(0, 0, 0, 0.4)
        ),
        /* bottom, image */
        url(assets/footer21.png);
  }
</style>

<!--NavBar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mynav">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="assets/logo.png" alt="WaffleCompany" class="mynavlogo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active mynavtext" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle mynavtext" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Our Menu
          </a>
          <ul class="dropdown-menu mynavtext" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/waffyorder" style="text-decoration: none;">Belgian Waffle</a></li>
            <li><a class="dropdown-item" routerLink="/cakeorder" style="text-decoration: none;">Waffle Cake</a></li>
            <li><a class="dropdown-item" routerLink="/cakeorder" style="text-decoration: none;">Waffle Sandwich</a></li>
            <li><a class="dropdown-item" routerLink="/milkshakeorder" style="text-decoration: none;">Milk Shake</a></li>
            <li><a class="dropdown-item" routerLink="/iceorder" style="text-decoration: none;">Waffle with Ice-Creams</a></li>
            <li><a class="dropdown-item" routerLink="/fruitsorder" style="text-decoration: none;">Waffle with Fresh Fruits</a></li>
          </ul>
        </li>
      </ul>
      <span class="navbar-text">
        <ul class="navbar-nav me-2 mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link mynavtext" href="#">About Us</a>
          </li>
          <li>
              <button class="btn btn-outline-secondary" type="submit" style="color: white;border-color: white;"><a routerLink="/ordernow" style="text-decoration: none;">Order Now!</a></button>
          </li>
        </ul>
      </span>
    </div>
  </div>
</nav>
<!--Navbar-->

<!--mainPage-->
<router-outlet></router-outlet>
<!--mainPage-->

<!--footer-->
<footer id="footer" data-aos="fade-up" data-aos-duration="1200" class="aos-init aos-animate">
  <h1 class="text-center">Waffle Maniaa!</h1>
  <p class="text-center">A life without waffle is like a day without smiles. </p>
  <div class="icons text-center">
    <i class="bx bxl-twitter"></i>
    <i class="bx bxl-facebook"></i>
    <i class="bx bxl-google"></i>
    <i class="bx bxl-instagram"></i>
  </div>
  <div class="copyright text-center">
    © Copyright <strong>Waffle Maniaa!</strong>. All rights reserved.
  </div>
  <div class="credite text-center">
    Created By <a href="#"><span style="color: aliceblue;text-decoration: underline;">Dibyasree Banerjee</span> </a>
  </div>
</footer>



