<style>
 .animation2{
        animation-name: slideup;
        animation-duration: 2s;
        
    }
    @keyframes slideup{
        from{
            margin-top: 100%;
        }
        to{
            margin-top: 0%;
        }
    }
    .head{
        color: black;padding-bottom: 1%;padding-top: 1%;margin-bottom: 3%; background-color: cornsilk; width: 400px; text-align: center; border-bottom: 4px solid coral;margin-left: 33.33%; margin-top: 5%;
    }
</style>

<div class="container-fluid" style="background-image: url(assets/cb7.avif);background-size: 100% ;padding-top: 0%;margin-top: 0%;border: 2px solid black;">
<div class="container-fluid">
    <h2 class="head">** Classic Waffles **<br>Buy Now!</h2>
    <div class="row" style="padding-left: 7%;margin-bottom: 4%;">
        <div class="col-md-4 myeachoutcard hovcard1">
            <div class="card" style="width: 18rem;" >
                <img src="assets/waff1.avif" class="card-img-top" alt="..." height="230px">
                <div class="card-body">
                    <p class="card-text hovcard" style="text-align: center;font-size: larger;">Milkyway Biscoff</p>
                    <p class="card-text hide" style="text-align: center; color: coral;"><b>Rs. 250</b></p>
                    <button class="btn btn-outline-secondary" style="margin-left: 27%; color: coral;">+ add to cart</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 myeachoutcard hovcard2">
            <div class="card" style="width: 18rem;">
                <img src="assets/best4.jpeg" class="card-img-top" alt="..." height="230px">
                <div class="card-body">
                    <p class="card-text" style="text-align: center;font-size: larger;">Red velvet</p>
                    <p class="card-text hide" style="text-align: center; color: coral;"><b>Rs. 200</b></p>
                    <button class="btn btn-outline-secondary" style="margin-left: 27%; color: coral;">+ add to cart</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 myeachoutcard hovcard3">
            <div class="card" style="width: 18rem;" >
                <img src="assets/bel3.jpeg" class="card-img-top" alt="..." height="230px">
                <div class="card-body">
                    <p class="card-text" style="text-align: center;font-size: larger;">Triple Chocolate</p>
                    <p class="card-text hide" style="text-align: center; color: coral;"><b>Rs. 170</b></p>
                    <button class="btn btn-outline-secondary" style="margin-left: 27%; color: coral;">+ add to cart</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <h2 class="head">** Waffle Cakes **<br>Buy Now!</h2>
    <div class="row" style="padding-left: 7%;margin-bottom: 4%;">
        <div class="col-md-4 myeachoutcard hovcard1">
            <div class="card" style="width: 18rem;" >
                <img src="assets/cake1.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text hovcard" style="text-align: center;font-size: larger;">Marble cake</p>
                    <p class="card-text hide" style="text-align: center; color: coral;"><b>Rs. 430</b></p>
                    <button class="btn btn-outline-secondary" style="margin-left: 27%; color: coral;">+ add to cart</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 myeachoutcard hovcard2">
            <div class="card" style="width: 18rem;">
                <img src="assets/cake2.avif" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text" style="text-align: center;font-size: larger;">Red velvet cake</p>
                    <p class="card-text hide" style="text-align: center; color: coral;"><b>Rs. 550</b></p>
                    <button class="btn btn-outline-secondary" style="margin-left: 27%; color: coral;">+ add to cart</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 myeachoutcard hovcard3">
            <div class="card" style="width: 18rem;" >
                <img src="assets/cake3.avif" class="card-img-top" alt="..." height="230px">
                <div class="card-body">
                    <p class="card-text" style="text-align: center;font-size: larger;">Nutella cake</p>
                    <p class="card-text hide" style="text-align: center; color: coral;"><b>Rs. 500</b></p>
                    <button class="btn btn-outline-secondary" style="margin-left: 27%; color: coral;">+ add to cart</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <h2 class="head">** Fruits Waffles **<br>Buy Now!</h2>
    <div class="row" style="padding-left: 7%;margin-bottom: 4%;">
        <div class="col-md-4 myeachoutcard hovcard1">
            <div class="card" style="width: 18rem;" >
                <img src="assets/f1.jpeg" class="card-img-top" alt="..." height="230px">
                <div class="card-body">
                    <p class="card-text hovcard" style="text-align: center;font-size: larger;">Blueberry Raspberry waffle</p>
                    <p class="card-text hide" style="text-align: center; color: coral;"><b>Rs. 250</b></p>
                    <button class="btn btn-outline-secondary" style="margin-left: 27%; color: coral;">+ add to cart</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 myeachoutcard hovcard2">
            <div class="card" style="width: 18rem;">
                <img src="assets/f2.jpeg" class="card-img-top" alt="..." height="230px">
                <div class="card-body">
                    <p class="card-text" style="text-align: center;font-size: larger;">Classic Banana waffle </p>
                    <p class="card-text hide" style="text-align: center; color: coral;"><b>Rs. 150</b></p>
                    <button class="btn btn-outline-secondary" style="margin-left: 27%; color: coral;">+ add to cart</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 myeachoutcard hovcard3">
            <div class="card" style="width: 18rem;" >
                <img src="assets/f3.jpeg" class="card-img-top" alt="..." height="230px">
                <div class="card-body">
                    <p class="card-text" style="text-align: center;font-size: larger;">Strawberry waffle with cream</p>
                    <p class="card-text hide" style="text-align: center; color: coral;"><b>Rs. 170</b></p>
                    <button class="btn btn-outline-secondary" style="margin-left: 27%; color: coral;">+ add to cart</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <h2 class="head">** Ice-Cream Waffles **<br>Buy Now!</h2>
    <div class="row" style="padding-left: 7%;margin-bottom: 4%;">
        <div class="col-md-4 myeachoutcard hovcard1">
            <div class="card" style="width: 18rem;" >
                <img src="assets/i2.jpeg" class="card-img-top" alt="..." height="230px">
                <div class="card-body">
                    <p class="card-text hovcard" style="text-align: center;font-size: larger;">Vanilla Ice-Cream waffle</p>
                    <p class="card-text hide" style="text-align: center; color: coral;"><b>Rs. 250</b></p>
                    <button class="btn btn-outline-secondary" style="margin-left: 27%; color: coral;">+ add to cart</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 myeachoutcard hovcard2">
            <div class="card" style="width: 18rem;">
                <img src="assets/i4.jpeg" class="card-img-top" alt="..." height="230px">
                <div class="card-body">
                    <p class="card-text" style="text-align: center;font-size: larger;">Strawberry Ice-Cream waffle</p>
                    <p class="card-text hide" style="text-align: center; color: coral;"><b>Rs. 250</b></p>
                    <button class="btn btn-outline-secondary" style="margin-left: 27%; color: coral;">+ add to cart</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 myeachoutcard hovcard3">
            <div class="card" style="width: 18rem;" >
                <img src="assets/i3.jpeg" class="card-img-top" alt="..." height="230px">
                <div class="card-body">
                    <p class="card-text" style="text-align: center;font-size: larger;">Coffee Ice-Cream waffle</p>
                    <p class="card-text hide" style="text-align: center; color: coral;"><b>Rs. 270</b></p>
                    <button class="btn btn-outline-secondary" style="margin-left: 27%; color: coral;">+ add to cart</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <h2 class="head">** Classic Waffles **<br>Buy Now!</h2>
    <div class="row" style="padding-left: 7%;margin-bottom: 4%;">
        <div class="col-md-4 myeachoutcard hovcard1">
            <div class="card" style="width: 18rem;" >
                <img src="assets/best6.jpeg" class="card-img-top" alt="..." height="280px">
                <div class="card-body">
                    <p class="card-text hovcard" style="text-align: center;font-size: larger;">Coffee Milkshake</p>
                    <p class="card-text hide" style="text-align: center; color: coral;"><b>Rs. 250</b></p>
                    <button class="btn btn-outline-secondary" style="margin-left: 27%; color: coral;">+ add to cart</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 myeachoutcard hovcard2">
            <div class="card" style="width: 18rem;">
                <img src="assets/milk1.jpeg" class="card-img-top" alt="..." height="280px">
                <div class="card-body">
                    <p class="card-text" style="text-align: center;font-size: larger;">Strawberry Milkshake</p>
                    <p class="card-text hide" style="text-align: center; color: coral;"><b>Rs. 200</b></p>
                    <button class="btn btn-outline-secondary" style="margin-left: 27%; color: coral;">+ add to cart</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 myeachoutcard hovcard3">
            <div class="card" style="width: 18rem;" >
                <img src="assets/milk.webp" class="card-img-top" alt="..." height="280px">
                <div class="card-body">
                    <p class="card-text" style="text-align: center;font-size: larger;">Chocolate Milkshake</p>
                    <p class="card-text hide" style="text-align: center; color: coral;"><b>Rs. 270</b></p>
                    <button class="btn btn-outline-secondary" style="margin-left: 27%; color: coral;">+ add to cart</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>